.app-header {
    position: relative;
}

.section-shaped .shape-style-1 :nth-child(1) {
 background: none !important;
}

.controls-container {
 background-color: #f9fafd;
 width: 100%;
 height: fit-content;
 min-height: 73vh;
 position: relative;
 overflow-y: auto;
}


.background-container {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.expense-list-item {
    width: 100%;
    padding: 10px 5px;
}

.expense-list-item:not(:last-child) {
    border-bottom: 10px solid #f9fafd;
}

.expense-list-item 
.expense-list-item__date {
    margin-left: 20px;
    margin-bottom: 10px;
}

.expense-list-item 
.expense-list-item__date p {
    font-weight: 500;
    text-transform: uppercase;
    color: #252e48;
    font-size: 14px;
}

.expense-list-item__details {
    padding: 10px 35px;
    margin: 19px 0;
}

.expense-list-item__details:not(:last-child){
    border-bottom: 4px solid #f9fafd;
}

.expense-list-item__details .item-name__cost-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.expense-list-item__details .item-name__cost-info p {
    margin: 0;
}

.expense-list-item__details 
.item-name__cost-info .item-name {
    font-weight: 600;
    text-transform: uppercase;
    color: #252e48;
    font-size: 13px;
}

.expense-list-item__details 
.item-name__cost-info .item-cost {
    font-weight: 600;
    text-transform: uppercase;
    color: #252e48;
    font-size: 13px;
}

.expense-list-item__details
.item-description {
    width: 100%;
    font-size: 13.5px;
}

.expense-list-item__details 
.expense-status__date-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.expense-list-item__details 
.expense-status-info-good {
    color: #00ffaa; 
    font-weight: 600;
    font-size: 13px;
}

.expense-list-item__details  
.expense-status-info-bad {
    color: #ff0066;
    font-weight: 600;
    font-size: 13px;
}